<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,409},{472,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,265}}</string>
                <key>sourceSize</key>
                <string>{472,265}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{151,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,79}}</string>
                <key>sourceSize</key>
                <string>{151,79}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,58}</string>
            </dict>
            <key>fan1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1001},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>fan1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{3,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,12}}</string>
                <key>sourceSize</key>
                <string>{3,12}</string>
            </dict>
            <key>fan2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,944},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>fan2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{12,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,39}}</string>
                <key>sourceSize</key>
                <string>{12,39}</string>
            </dict>
            <key>halos.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{533,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,483}}</string>
                <key>sourceSize</key>
                <string>{533,483}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,307},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,676},{88,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,292}}</string>
                <key>sourceSize</key>
                <string>{88,292}</string>
            </dict>
            <key>multiMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,250},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,250},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>relaxMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,250},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,944},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,944},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>sharePop.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,944},{55,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,245}}</string>
                <key>sourceSize</key>
                <string>{55,245}</string>
            </dict>
            <key>stageMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,250},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{405,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,101}}</string>
                <key>sourceSize</key>
                <string>{405,101}</string>
            </dict>
            <key>whale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{913,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,246}}</string>
                <key>sourceSize</key>
                <string>{913,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d30a1c42dbf916b1f074e0b1b41caf6a$</string>
            <key>textureFileName</key>
            <string>mainMenu.png</string>
        </dict>
    </dict>
</plist>
