<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imgwidth</key>
	<integer>403</integer>
	<key>imgheight</key>
	<integer>543</integer>
	<key>img1</key>
	<dict>
		<key>name</key>
		<string>img1</string>
		<key>point1</key>
		<dict>
			<key>height</key>
			<real>57</real>
			<key>width</key>
			<real>164</real>
			<key>x</key>
			<real>403</real>
			<key>x0</key>
			<real>95</real>
			<key>y</key>
			<real>0</real>
			<key>y0</key>
			<real>127</real>
		</dict>
		<key>point2</key>
		<dict>
			<key>height</key>
			<real>28</real>
			<key>width</key>
			<real>104</real>
			<key>x</key>
			<real>624</real>
			<key>x0</key>
			<real>272</real>
			<key>y</key>
			<real>0</real>
			<key>y0</key>
			<real>404</real>
		</dict>
		<key>point3</key>
		<dict>
			<key>height</key>
			<real>60</real>
			<key>width</key>
			<real>84</real>
			<key>x</key>
			<real>403</real>
			<key>x0</key>
			<real>361</real>
			<key>y</key>
			<real>56</real>
			<key>y0</key>
			<real>135</real>
		</dict>
		<key>point4</key>
		<dict>
			<key>height</key>
			<real>52</real>
			<key>width</key>
			<real>82</real>
			<key>x</key>
			<real>487</real>
			<key>x0</key>
			<real>42</real>
			<key>y</key>
			<real>56</real>
			<key>y0</key>
			<integer>153</integer>
		</dict>
		<key>point5</key>
		<dict>
			<key>height</key>
			<real>58</real>
			<key>width</key>
			<real>43</real>
			<key>x</key>
			<real>569</real>
			<key>x0</key>
			<real>380.5</real>
			<key>y</key>
			<real>52</real>
			<key>y0</key>
			<real>352</real>
		</dict>
		<key>point6</key>
		<dict>
			<key>height</key>
			<real>16</real>
			<key>width</key>
			<real>27</real>
			<key>x</key>
			<real>612</real>
			<key>x0</key>
			<real>240.5</real>
			<key>y</key>
			<real>52</real>
			<key>y0</key>
			<real>361</real>
		</dict>
		<key>point7</key>
		<dict>
			<key>height</key>
			<real>73</real>
			<key>width</key>
			<real>88</real>
			<key>x</key>
			<real>640</real>
			<key>x0</key>
			<real>138</real>
			<key>y</key>
			<real>28</real>
			<key>y0</key>
			<real>403.5</real>
		</dict>
		<key>point8</key>
		<dict>
			<key>height</key>
			<real>34</real>
			<key>width</key>
			<real>47</real>
			<key>x</key>
			<real>727</real>
			<key>x0</key>
			<real>334.5</real>
			<key>y</key>
			<real>28</real>
			<key>y0</key>
			<real>332</real>
		</dict>
		<key>point9</key>
		<dict>
			<key>height</key>
			<real>116</real>
			<key>width</key>
			<real>146</real>
			<key>x</key>
			<real>403</real>
			<key>x0</key>
			<real>153</real>
			<key>y</key>
			<real>116</real>
			<key>y0</key>
			<real>482</real>
		</dict>
	</dict>
	<key>img2</key>
	<dict>
		<key>name</key>
		<string>img2</string>
		<key>point1</key>
		<dict>
			<key>height</key>
			<real>76</real>
			<key>width</key>
			<real>70</real>
			<key>x</key>
			<real>403</real>
			<key>x0</key>
			<real>36</real>
			<key>y</key>
			<real>0</real>
			<key>y0</key>
			<real>385</real>
		</dict>
		<key>point2</key>
		<dict>
			<key>height</key>
			<real>61</real>
			<key>width</key>
			<real>49</real>
			<key>x</key>
			<real>473</real>
			<key>x0</key>
			<real>26.5</real>
			<key>y</key>
			<real>0</real>
			<key>y0</key>
			<real>309.5</real>
		</dict>
		<key>point3</key>
		<dict>
			<key>height</key>
			<real>42</real>
			<key>width</key>
			<real>59</real>
			<key>x</key>
			<real>522</real>
			<key>x0</key>
			<real>337.5</real>
			<key>y</key>
			<real>0</real>
			<key>y0</key>
			<real>254</real>
		</dict>
		<key>point4</key>
		<dict>
			<key>height</key>
			<real>29</real>
			<key>width</key>
			<real>32</real>
			<key>x</key>
			<real>582</real>
			<key>x0</key>
			<real>147</real>
			<key>y</key>
			<real>0</real>
			<key>y0</key>
			<real>527.5</real>
		</dict>
		<key>point5</key>
		<dict>
			<key>height</key>
			<real>18</real>
			<key>width</key>
			<real>25</real>
			<key>x</key>
			<real>616</real>
			<key>x0</key>
			<real>184.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>395</real>
		</dict>
		<key>point6</key>
		<dict>
			<key>height</key>
			<real>61</real>
			<key>width</key>
			<real>81</real>
			<key>x</key>
			<real>643</real>
			<key>x0</key>
			<real>314.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>469.5</real>
		</dict>
		<key>point7</key>
		<dict>
			<key>height</key>
			<real>61</real>
			<key>width</key>
			<real>81</real>
			<key>x</key>
			<real>724</real>
			<key>x0</key>
			<real>314.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>359.5</real>
		</dict>
		<key>point8</key>
		<dict>
			<key>height</key>
			<real>40</real>
			<key>width</key>
			<real>54</real>
			<key>x</key>
			<real>404</real>
			<key>x0</key>
			<real>333</real>
			<key>y</key>
			<real>77</real>
			<key>y0</key>
			<real>20</real>
		</dict>
		<key>point9</key>
		<dict>
			<key>height</key>
			<real>29</real>
			<key>width</key>
			<real>66</real>
			<key>x</key>
			<real>460</real>
			<key>x0</key>
			<real>49</real>
			<key>y</key>
			<real>78</real>
			<key>y0</key>
			<real>528.5</real>
		</dict>
	</dict>
	<key>img3</key>
	<dict>
		<key>name</key>
		<string>img3</string>
		<key>point1</key>
		<dict>
			<key>height</key>
			<real>78</real>
			<key>width</key>
			<real>114</real>
			<key>x</key>
			<real>404</real>
			<key>x0</key>
			<real>58</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>56</real>
		</dict>
		<key>point2</key>
		<dict>
			<key>height</key>
			<real>99</real>
			<key>width</key>
			<real>58</real>
			<key>x</key>
			<real>519</real>
			<key>x0</key>
			<real>32</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>493.5</real>
		</dict>
		<key>point3</key>
		<dict>
			<key>height</key>
			<real>49</real>
			<key>width</key>
			<real>38</real>
			<key>x</key>
			<real>578</real>
			<key>x0</key>
			<real>291</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>518.5</real>
		</dict>
		<key>point4</key>
		<dict>
			<key>height</key>
			<real>23</real>
			<key>width</key>
			<real>45</real>
			<key>x</key>
			<real>617</real>
			<key>x0</key>
			<real>313.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>238.5</real>
		</dict>
		<key>point5</key>
		<dict>
			<key>height</key>
			<real>44</real>
			<key>width</key>
			<real>32</real>
			<key>x</key>
			<real>663</real>
			<key>x0</key>
			<real>379</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>128</real>
		</dict>
		<key>point6</key>
		<dict>
			<key>height</key>
			<real>56</real>
			<key>width</key>
			<real>82</real>
			<key>x</key>
			<real>696</real>
			<key>x0</key>
			<real>41</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>352</real>
		</dict>
		<key>point7</key>
		<dict>
			<key>height</key>
			<real>18</real>
			<key>width</key>
			<real>33</real>
			<key>x</key>
			<real>404</real>
			<key>x0</key>
			<real>295.5</real>
			<key>y</key>
			<real>80</real>
			<key>y0</key>
			<real>172</real>
		</dict>
		<key>point8</key>
		<dict>
			<key>height</key>
			<real>26</real>
			<key>width</key>
			<real>48</real>
			<key>x</key>
			<real>438</real>
			<key>x0</key>
			<real>223</real>
			<key>y</key>
			<real>80</real>
			<key>y0</key>
			<real>393</real>
		</dict>
		<key>point9</key>
		<dict>
			<key>height</key>
			<real>20</real>
			<key>width</key>
			<real>22</real>
			<key>x</key>
			<real>488</real>
			<key>x0</key>
			<real>195</real>
			<key>y</key>
			<real>80</real>
			<key>y0</key>
			<real>197</real>
		</dict>
	</dict>
	<key>img4</key>
	<dict>
		<key>name</key>
		<string>img4</string>
		<key>point1</key>
		<dict>
			<key>height</key>
			<real>18</real>
			<key>width</key>
			<real>26</real>
			<key>x</key>
			<real>404</real>
			<key>x0</key>
			<real>217</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>350</real>
		</dict>
		<key>point2</key>
		<dict>
			<key>height</key>
			<real>112</real>
			<key>width</key>
			<real>39</real>
			<key>x</key>
			<real>431</real>
			<key>x0</key>
			<real>382.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>205</real>
		</dict>
		<key>point3</key>
		<dict>
			<key>height</key>
			<real>38</real>
			<key>width</key>
			<real>35</real>
			<key>x</key>
			<real>471</real>
			<key>x0</key>
			<real>179.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>425</real>
		</dict>
		<key>point4</key>
		<dict>
			<key>height</key>
			<real>42</real>
			<key>width</key>
			<real>49</real>
			<key>x</key>
			<real>507</real>
			<key>x0</key>
			<real>100.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>214</real>
		</dict>
		<key>point5</key>
		<dict>
			<key>height</key>
			<real>23</real>
			<key>width</key>
			<real>21</real>
			<key>x</key>
			<real>557</real>
			<key>x0</key>
			<real>343.5</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>395.5</real>
		</dict>
		<key>point6</key>
		<dict>
			<key>height</key>
			<real>9</real>
			<key>width</key>
			<real>14</real>
			<key>x</key>
			<real>579</real>
			<key>x0</key>
			<real>62</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>468.5</real>
		</dict>
		<key>point7</key>
		<dict>
			<key>height</key>
			<real>24</real>
			<key>width</key>
			<real>14</real>
			<key>x</key>
			<real>594</real>
			<key>x0</key>
			<real>55</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>507</real>
		</dict>
		<key>point8</key>
		<dict>
			<key>height</key>
			<real>32</real>
			<key>width</key>
			<real>132</real>
			<key>x</key>
			<real>609</real>
			<key>x0</key>
			<real>264</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>516</real>
		</dict>
		<key>point9</key>
		<dict>
			<key>height</key>
			<real>28</real>
			<key>width</key>
			<real>32</real>
			<key>x</key>
			<real>743</real>
			<key>x0</key>
			<real>319</real>
			<key>y</key>
			<real>1</real>
			<key>y0</key>
			<real>342</real>
		</dict>
	</dict>
</dict>
</plist>
